# Tell GitHub to ignore all generated native folders and subfolders in language stats
ios/** linguist-generated=true
macos/** linguist-generated=true
windows/** linguist-generated=true
linux/** linguist-generated=true
android/** linguist-generated=true